*
node_modules/
!dist
!dist/**
!example
!example/**
!src
!src/**
!_contents
!_contents/**
!test
!test/**
!.gitignore
!.npmignore
!package.json
!tslint.json
!tsconfig.json
!.jsbeautifyrc
!LICENSE
!typings
!typings/**
!.babelrc
!.eslint.js
!README.md
